<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Tag
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Number of tagged photos
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @popular_tags.each do |popular_tag| %>
        <tr>
          <td class="px-6 py-2 whitespace-nowrap">
            <div class="flex items-center h-10 w-40">
              <span class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                <span class="text-xs font-normal leading-none max-w-full flex-initial"><%= popular_tag.name %></span>
              </span>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex flex-wrap justify-start w-96">
              <%= popular_tag.photos_count %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
